<settings>
    <setting propertyKey="@Properties.Logo" title="@Strings.LogoTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LogoA</listEntry>
            <listEntry value="1">@Strings.LogoB</listEntry>
        </settingConfig>
	</setting>
    <setting propertyKey="@Properties.TitleColor" title="@Strings.TitleColorString">
        <settingConfig type="list">
            <listEntry value="0">@Strings.GreyColorString</listEntry>
            <listEntry value="1">@Strings.GreenColorString</listEntry>
            <listEntry value="2">@Strings.RedColorString</listEntry>
            <listEntry value="3">@Strings.BlueColorString</listEntry>
            <listEntry value="4">@Strings.DarkGreyColorString</listEntry>
            <listEntry value="5">@Strings.DarkGreenColorString</listEntry>
            <listEntry value="6">@Strings.DarkRedColorString</listEntry>
            <listEntry value="7">@Strings.DarkBlueColorString</listEntry>
        </settingConfig>
	</setting>
    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowSteps" title="@Strings.ShowStepsTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowStepsPercentage" title="@Strings.ShowStepsPercentageTitle">
   		<settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBatteryTitle">
   		<settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowBatteryColor" title="@Strings.ShowBatteryColorTitle">
   		<settingConfig type="boolean" />
    </setting>
</settings>
